/*  BODY   */

body {
  font-family: 'Telex', sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

/*  HEADER  */

.header1 {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  padding-left: 26px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logoimg {
  display: flex;
  align-items: center;
  height: 32px;
}

.colmar {
  font-weight: bold;
  font-size: 26px;
}
.academy {
  color: grey;
  font-size: 26px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.hnav {
  margin-right: 16px;
  color: black;
  text-decoration: none;
}

.header2 {
  display: none;
}

/*  BANNER  */

.banner1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
  background-color: #e6e6e6;
  width: 100%;
}

.bannerimg img {
  display: flex;
  margin: 32px 24px 32px 24px;
  background-color: red;
  height: 650px;
  max-width: 850px;
}

.bannertxt div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 60px;
  font-family: 'Telex', sans-serif;
  color: #666666;
}

.learn1 {
  font-size: 48px;
  font-weight: bold;
}

.learn2 {
  font-size: 28px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.button p {
  display: flex;
  color: white;
  background-color: #666666;
  justify-content: center;
  padding: 11px 45px 11px 45px;
  margin-top: 25px;
  width: 150px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}
.button p:hover {
  background-color: firebrick;
}

/*  NEWS SECTION  */

.news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: 'Telex', sans-serif;
}

.news1 {
  display: column;
  justify-content: center;
  align-items: center;
  max-width: 9000px;
  margin: 32px 24px 32px 24px;
}

.news1img img {
  display: flex;
  height: 450px;
  margin-bottom: 32px;
}

.title, .maintitle {
  font-size: 38px;
  font-weight: bold;
  color: #404040;
  padding-bottom: 30px;
  word-spacing: 1px;
}

.text1 {
  font-size: 18px;
  padding-bottom: 30px;
  color: gray;
  max-width: 690px;
  word-spacing: 3.5px;
}

.text2 {
  font-size: 14px;
  padding-bottom: 30px;
  color: gray;
  font-weight: bold;

}

.newsbanner {
  display: block;
  justify-content: column;
  align-items: center;
  max-width: 600px;
  border-left: solid 1px lightgrey;
  font-family: 'Telex', sans-serif;
  word-spacing: 1px;
}

.newsbannerimg img {
  display: flex;
  margin: 16px 16px 16px 16px;
  height: 200px;
}

.news2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title2 {
  color: #404040;
  font-size: 22px;
  font-weight: bold;
}

.text3 div {
  padding: 10px 20px 10px 20px;
}

.text4 {
  font-size: 18px;
  color:gray;
}

.text5 {
  color: CornflowerBlue;
  font-size: 18px;
}

.news2:nth-child(3n + 0) {
  background-color: #e6e6e6;
}

.news2:nth-child(1n + 0) {
  border-bottom: double 4px #e6e6e6;
}


/*  COURSES  */

.courses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e6e6e6;
  padding: 32px 72px 32px 72px;
}

.maintitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.coursebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 32px;
  max-width: 450px;
}


/*  FOOTER  */
